<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>about</title>
    <link rel="icon" href="/img/weather.png"

</head>

<body>
<div class="mainContent">
    {{>header}}
    <img class="maps" src="/img/pkiin.jpg">
    <p> this site was created by me, it uses data from mapbox.com and darksky.net in order to create a weather forecast </p>
</div>
{{>footer}}



</body>


</html>