<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>about</title>
    <link rel="icon" href="/img/weather.png"

</head>

<body>
<div class="mainContent">
    {{>header}}
    <img class="maps" src="/img/pkiin.jpg">

</div>
{{>footer}}



</body>


</html>