<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>help</title>
    <link rel="icon" href="/img/weather.png"

</head>

<body>
    <div class="mainContent">
        
    {{>header}}
    <p> the developer is {{name}}</p>

    </div>


{{>footer}}

</body>


</html>