<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/css/styles.css">
<link rel="icon" href="/img/weather.png">
<title>home page</title>
</head>

<body>
    <div class ="mainContent">
        {{>header}}
        <p> use this site to get the weather! yay</p>
    <form>
        <input placeholder="Location...">
        <button>Search Weather</button>
    </form>
    <p id='message-1'> Pls enter weather</p>
    <p id='message-2'></p>
    </div>


    {{>footer}}
<script src="/js/app.js"></script>

</body>


</html>